/*This is the file with the desing of the website: like the outfit*/
@font-face {
    font-family: 'wondershine';
    src: url('/assets/font/Wondershine.ttf') format('truetype');
}

@font-face {
    font-family: 'corbel';
    src: url('/assets/font/corbel.ttf') format('truetype');
}

:root {
    --main-color: rgb(225, 217, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'wondershine', 'corbel', sans-serif;
}

li {
    list-style: none;
}

a,
img,
span,
button {
    display: block;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'corbel', sans-serif;
    font-size: 1.4rem;
}

a:hover {
    color: rgb(140, 133, 133);
}

img {
    height: auto;
    margin-left: 50px;
}

body {
    background-color: var(--main-color);
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed; /* Mejora para que el header esté siempre en la parte superior */
    top: 0;
    left: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list li {
    margin: 0 50px;
}
